html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: sans-serif;
    margin: 0;
}

header{
    --opacidad-negro: 0.2;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/super.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    background-position-y: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: #FFF;
    font-size: 4em;
    display: flex;
    margin: 0px;
    padding: 0px;
}

h2{
    font-size: 1.2em;
    text-align: center;
    color: #444;
}

h3{
    padding-top: 50px;
    color: rgb(236, 222, 13);
    text-align: center;
    font-size: 1.7em;
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-shadow: #333 1px 0 10px;
}

p{
    padding-left: 15px;
}

a{
    text-decoration: none;
    color: #ffff5a;
}

a:visited {
    text-decoration: none;
    color: #ffff5a;
}

.contenedor{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedor article{
    height: 300px;
}

#a1{
    width: 28%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    --opacidad-negro: 0.2;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/frutas.jpg");
}

#a1:hover{
    --opacidad-negro: 0.4;
}

#a2{
    width: 28%;
    background-repeat: no-repeat;
    background-size: cover;
    --opacidad-negro: 0.2;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/carne.jpg");
}

#a2:hover{
    --opacidad-negro: 0.4;
}

#a3{
    width: 28%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    --opacidad-negro: 0.2;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/pan.jpg");
}

#a3:hover{
    --opacidad-negro: 0.4;
}

.recetas{
    background-color: #ffff5a;
    margin: 1% 3%;
}

.masinfo{
    background-color: #333;
    color: #fff;
    margin: 1% 3%;
}

.masinfo h2{
    color: #ffff5a;
}

footer{
    background-color: #ddd;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
}

@media only screen and (max-width: 700px){
    .contenedor{
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction:column;
        align-items: center;
        font-size: 30px;
    }
    .contenedor article{
        width: 100%;
        height: auto;
    }
    .contenedor article{
        width: 100%;
        height: auto;
    }
    #a1{
        width: 100%;
        height: 500px;
    }
    #a2{
        width: 100%;
        height: 500px;
    }
    #a3{
        width: 100%;
        height: 500px;
    }
}