<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ordenanza</title>
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <link rel="icon" type="image/png" href="../img/favicon.png">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/precios.css">
</head>
<body>
    <header>
        <h1>Regulación servicio de taxis</h1>
    </header>
    <section>
        <h2>PROYECTO DE ORDENANZA</h2>
    </section>

    <section>
      <p><b>VISTO</b></p>
      <p>La necesidad de regular el servicio de transporte público de taxis  de la ciudad de San José de Metán y</p>
    </section>
    <section>
      <p><b>CONSIDERANDO</b></p>
      <p>QUE actualmente no existe regulación que se adecue a la realidad inflacionaria que atraviesa nuestro país.</p>
      <p>QUE el problema de la regulación de tarifas de taxi es un inconveniente que tiene lugar mes a mes sin llegar a una solución definitiva. </p>
      <p>QUE  las agencias y remiseros particulares se reunieron varias ocasiones con los concejales para poder llegar a diferentes acuerdos. </p>
      <p>QUE en la situación económica por la que atravesamos, debemos buscar un equilibrio que permita la conformidad de todos los sectores de la sociedad. </p>
      <p>QUE  en el art 50 del reglamento interno del concejo deliberante establece que es facultad de la comisión de tránsito fijar las tarifas del transporte público. </p>
      <p>QUE debido al receso de funciones del concejo deliberante, la carta organica muicipal da la potestad al poder ejecutivo de tomar medidas de urgencia mediante ordenanzas  Ad referendum. </p>
      <p>QUE  la situación actual de la tarifa y horarios de los taxis requiere de un pronto tratamiento y resolución. </p>
      <p>QUE  lo más viable para regular y fijar la tarifa de los taxis es tomar como referencia el precio de  dos litros de nafta super. </p>
      <p>QUE es necesario avanzar en políticas que contribuyan a mejorar y garantizar la prestación de servicios de manera eficiente e igualitaria para los usuarios.  </p>
    </section>
    <section>
      <p><b>POR ELLO EL CONCEJO DELIBERANTE DE LA CIUDAD DE SAN JOSE DE METAN 
        ORDENA</b></p>
      <p>ARTICULO 1°.- Derogar la ordenanza 4300/23. </p>
      <p>ARTICULO 2°.-  Fijar la tarifa de taxis en 2UF (dos litros de nafta súper).</p>
      <p>ARTICULO 3°.- Actualizar la tarifa de taxis según aumento del litro de nafta súper de manera automática.</p>
      <p>ARTICULO 4°.- Publicar periódicamente la actualización del  cuadro tarifario anexo a esta ordenanza en la página web de la Municipalidad y del Concejo Deliberante de la Ciudad de San José de Metán. </p>
      <p>ARTICULO  5°.- Fijar tarifa de horario nocturno desde las 00.00 hasta las 06.00 de la mañana en un 10% adicional. Este mismo criterio se aplicará en su totalidad a los días domingos y días feriados. </p>
      <p>ARTICULO  6°.- Exhibir en unidades de taxi, Direccion de Transito y Transporte, Terminal de omnibus y paradas designadas.
        fotocopia de la licencia, 
        número de dominio y licencia, 
        nombre de la agencia  la que pertenece,
        importe del viaje con una leyenda que exponga lo siguiente: ¨ Tarifa: 2 lts de nafta súper/ segun ordenanza _____/__¨
      </p>
      <p>ARTICULO  7°.- Por incumplimiento se fijan las sanciones: 
        por el incumplimiento del articulo 2°, 100 UT 
        en caso de reincidencia se duplicara el valor de la multa 
        en caso de reincidencia en mas de dos oportunidades se procederá al retiro definitivo de la licencia habilitante. 
        en caso de falta de licencia habilitante se aplicara la misma sancion del item 1. 
        Las sanciones despcriptas podrán ser aplicadas siendo solidariamente responsables  los choferes al momento de la infraccion, titular dominial del vehículo, titular de la empresa. </p>
      <p>ARTICULO 8°.- Facultar al Departamento Ejecutivo Municipal a través del área correspondiente a realizar una campaña de información sobre los valores fijados en la presente ordenanza. </p>
      <p>ARTICULO 9°.- Facultara  a la Direccion de Transito para designar al personal que trabaje diariamente de forma exclusiva en la fiscalizacion y control de esta ordenanza, facultando a dicha direccion a retener el vehiculo infractor que trasgreda la misma. </p>
      <p>ARTICULO 10°.- Enviar copia de la presente ordenanza a las agencias de taxis y a los medios de comunicacion.</p>
      <p>ARTICULO 11°.- De forma </p>
    </section>
    <section class="masinfo">
        <h2>Más Información</h2>
        <article>
            <p><a href="./taxi_tarifas.html">Ver cuadro tarifario</a>
            </p>
        </article>
    </section>
    <footer>
        <article><p><a href="./index.html">Concejo Deliberante de San José de Metán</a></p></article>
    </footer>
</body>
</html>