<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadro Tarifario</title>
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" >
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/precios.css">
</head>
<body>
    <header>
        <h1>Cuadro Tarifario Taxis</h1>
    </header>
    <section>
        <h2>A continuación se detallan los precios del servicio público de taxis.</h2>
        <p>La tarifa se ajusta de manera automática de acuerdo al precio del litro de nafta súper ($<label id="nafta"></label>).</p>
        <p>El incremento por tarifa nocturna (de 0:00hs a 6:00hs) y día feriado es <label id="tarifaN"></label> sobre la tarifa normal.</p>
    </section>

    <section>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Índice</th>
                <th scope="col">Lugar</th>
                <th scope="col">Tarifa Normal</th>
                <th scope="col">Tarifa Nocturna</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>100</td>
                <td  scope="row">Tarifa Urbana</td>
                <td><label id="01urbana"></label></td>
                <td><label id="01urbanaN"></label></td>
              </tr>
              <tr>
                <td>150</td>
                <td>Metán Viejo</td>
                <td><label id="02mv"></label></td>
                <td><label id="02mvN"></label></td>
              </tr>
              <tr>
                <td>190</td>
                <td>Camino de ripio a finca Sanchez o Saravia - El Talar</td>
                <td><label id="03tal"></label></td>
                <td><label id="03talN"></label></td>
              </tr>
              <tr>
                <td>200</td>
                <td>La Agüadita</td>
                <td><label id="04ag"></label></td>
                <td><label id="04agN"></label></td>
              </tr>
              <tr>
                <td>225</td>
                <td>Finca Capuzzello - Punta del Agua - Pasteadero</td>
                <td><label id="05cap"></label></td>
                <td><label id="05capN"></label></td>
              </tr>
              <tr>
                <td>250</td>
                <td>El Durazno hasta cabina garita</td>
                <td><label id="06dur"></label></td>
                <td><label id="06durN"></label></td>
              </tr>
              <tr>
                <td>300</td>
                <td>El Durazno hasta Capilla San Isidro Labrador - Yatasto hasta el barrio</td>
                <td><label id="07dur"></label></td>
                <td><label id="07durN"></label></td>
              </tr>
              <tr>
                <td>325</td>
                <td>Esc. del Durazno</td>
                <td><label id="08dur"></label></td>
                <td><label id="08durN"></label></td>
              </tr>
              <tr>
                <td>350</td>
                <td>Hasta El Refugio - Posta de Yatasto hasta entrada</td>
                <td><label id="09posta"></label></td>
                <td><label id="09postaN"></label></td>
              </tr>
              <tr>
                <td>375</td>
                <td>Esc. Pasteadero - Esc. El Nogalito</td>
                <td><label id="pas"></label></td>
                <td><label id="pasN"></label></td>
              </tr>
              <tr>
                <td>600</td>
                <td>Recorrido por hora</td>
                <td><label id="hora"></label></td>
                <td><label id="horaN"></label></td>
              </tr>
            </tbody>
          </table>
    </section>
    <section class="masinfo">
      <div class="alert  alert-warning" role="alert">
        <h2>Más Información</h2>
        <article>
          <p><a href="./taxi_ordenanza.html">Ver ordenanza</a>
          </p>
        </article>
      </div>
    </section>
    <section>
      <div class="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Modificar precio nafta
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <label for="pns">Precio Nafta Súper: </label>
              <input type="number" id="pns" placeholder="Ingrese precio actual">
              <button type="button" class="btn btn-warning" id="boton">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <article><p><a href="./index.html">Concejo Deliberante de San José de Metán</a></p></article>
    </footer>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/tarifas.js"></script>
</body>
</html>